VITE_API_URL=http://localhost:5000/api

VITE_FIREBASE_API_KEY=AIzaSyDFb1RqUbKWyl4qE6Z8prKQcFzJgbMuYa8
VITE_FIREBASE_AUTH_DOMAIN=codechain-0414.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=codechain-0414
VITE_FIREBASE_APP_ID=1:778626959352:web:9faeabd09374d29a1c780d