PORT = 5000
MONGO_URI = "mongodb+srv://vaishnaviastha8_db_user:finalyearproject@cluster0.uxs3hlt.mongodb.net/?appName=Cluster0"
JWT_SECRET = "04e16dccdd59e1c5f2a3139f3e56b4e2548f621a92c1cc8f3d06df9fcc26e70b"
POLYGON_AMOY_RPC_URL="https://polygon-amoy.g.alchemy.com/v2/chR4u0BkZX6bTGRFD8XU4"
BACKEND_WALLET_PRIVATE_KEY="d57436693406454381666da41b7588f82610febb2bd72416a35d09a25143d82b"
CCT_TOKEN_ADDRESS="0x9F57DE181D0eB74f89932E0D8d5A6BdACaeC6A05"
EMAIL_USER=codechain.official@gmail.com
EMAIL_PASS=wknw vabo gxdq cswn
FRONTEND_URL=http://localhost:5173